.s-hero {  
  background: url(../img/bg.jpg) no-repeat center;
  background-size: cover;
  height: 54.7rem;
  
  .container {
    display: flex;
    justify-content: space-between;
    padding-top: 7.1rem;
    .title-area {
      h1 {
        font-weight: 700;
        font-size: 7.2rem;
        line-height: 9.8rem;
        letter-spacing: -0.02em;
        color: #FFFFFF;        
      }
      .values {
        margin-top: 2.5rem;
        margin-bottom: 3.6rem;
        span {
          font-size: 1.6rem;
          line-height: 2.2rem;
          letter-spacing: -0.02em;
          color: #FFFFFF;
          text-decoration: line-through;
          text-decoration-color: #FFEA0D;                   
        }
        h2 {
          font-weight: 700;
          font-size: 56px;
          line-height: 76px;
          letter-spacing: -0.02em;
          color: $secondary;
        }
        p {
          font-size: 1.6rem;
          line-height: 2.2rem;
          letter-spacing: -0.02em;
          color: #FFFFFF;
          margin-bottom: 1.6rem;          
        }
        img {
          transform: rotate(90deg);
        }

      }
      .lower-area {
        .buttons {
          display: flex;
          margin-bottom: 1.3rem;          
          button {
            width: 22.8rem;
            height: 4.8rem;
            background-color: #FFFFFF;
            border-radius: 12rem;
            font-weight: 700;
            font-size: 1.6rem;
            line-height: 2.2rem;
            letter-spacing: -0.02em;
            color: $primary;
            margin-right: 6.9rem;
            transition: transform .3s ease;
            &:hover {
              transform: scale(1.1);
            }
          }
          .exclusive {
            display: flex;
            a {
              margin-top: 1.5rem;
              
              &:hover {
                text-decoration: underline;
                text-decoration-color: #FFFFFF;
                text-decoration-thickness: 2px;
              }
              span {
                font-size: 1.6rem;
                line-height: 2.2rem;
                letter-spacing: -0.02em;
                color: rgba(255, 255, 255, 0.9);
                
              }
            }
          }
        }
        span {          
          font-size: 1.3rem;
          line-height: 1.8rem;
          letter-spacing: -0.01em;
          color: #FFFFFF;          
        }
      }
    }
    .center-area {  
         
      .off {
        width: 10.4rem;
        height: 10.4rem;
        border-radius: 50%;
        background-image: linear-gradient(180deg, #FFEA0D 0%, #FFC120 100%);
        box-shadow: 0px 4px 10px rgba(66, 23, 29, 0.1);
        z-index: 2023;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 82rem;
        span {          
          font-size: 1.6rem;
          line-height: 131.68%;
          text-align: center;
          letter-spacing: -0.02em;
          color: $neutral-100;
          position: absolute;
          strong {
            font-weight: 800;
          }          
        }
      }
      .calculator {            
        img {
          position: absolute;
          bottom: 21.5rem;
          right: 55rem;
          z-index: 2022;  
        }
      }
      .quadrados {
        img {
          position: absolute;
          top: 151px;
          right: 58.5rem;
          z-index: 2021;
        }
      }
    }
    .beneficios { 
      position: relative;     
      .text-area {
        h3 {
          font-weight: 800;
          font-size: 4.8rem;
          line-height: 6.5rem;
          letter-spacing: -0.02em;
          color: #FFFFFF;          
        }
        h4 {
          font-weight: 600;
          font-size: 1.6rem;
          line-height: 2.2rem;
          letter-spacing: -0.02em;
          color: #FFFFFF;
          max-width: 12.8rem;
        }
        ul {
          margin-top: 3.4rem;
          padding-left: 1.9rem;
          margin-bottom: 3.7rem;
          li {            
            font-size: 1.6rem;
            line-height: 2.2rem;
            letter-spacing: -0.02em;
            color: #FFFFFF;
            &:before {
              content: "\2022";
              color: #FFEA0D;
              display: inline-block;
              width: 1em;
              margin-left: -1em;
            }            
            &:not(:last-child) {
              margin-bottom: 1.2rem;
            }        
          }
        }
      }
      .darker-area {
        width: 27.8rem;
        height: 15.6rem;
        position: absolute;
        bottom: -6.5rem;
        right: 1rem;
        background-color: rgba(151, 35, 58, 0.3);
        border-top-right-radius: 30px;
        .receba {
          display: flex;
          align-items: center;
          padding-left: 6rem;
          padding-top: 4.4rem;
          img {
            margin-right: 1.1rem;
          }
          p {
            max-width: 11.6rem;
            font-size: 1.6rem;
            line-height: 2.2rem;
            letter-spacing: -0.02em;
            color: rgba(255, 255, 255, 0.8)            
          }
        }
        
      }
    }
  }
  @include responsive (1200px) {
    .container {
      .title-area {
        h1 {
          font-size: 6.5rem;
        }
        .lower-area {
          .buttons {
            button {
              margin-right: 3.9rem;
            }
          }
        }
      }
      .center-area {
        .off {
          right: 48rem;
        }
        .calculator {
          img {
            right: 23rem;
            bottom: 5.5rem;
          }
        }
        .quadrados {
          img {
            right: 26.5rem;
          }
        }
      }
    }
  }
  @include responsive (800px) {
    .container {
      .center-area {
        display: none;
      }
      .beneficios {
        .darker-area {
          width: 22.8rem;
          height: 13.6rem;
          right: -2rem;
          border-top-left-radius: 30px;
        }
      }
    }
  }
  @include responsive (600px) {
    height: auto;
    .container {
      padding-top: 3.1rem;
      display: flex;
      flex-direction: column;
      .title-area {
        text-align: center;
        .values {
          margin-bottom: 1.5rem;
          display: flex;
          flex-direction: column;
          img {
            display: none;
          }
        }
        .lower-area {
          display: flex;
          flex-direction: column;
          justify-content: center;
          .buttons {
            flex-direction: column;
            button {
              margin: 0 auto 1rem auto !important;
            }
            .exclusive {
              margin: 1rem auto 0 auto;
            }
            
          }
        }
      }
      .beneficios {
        margin-top: 3rem;
        .text-area {
          text-align: center;
          h4 {
            max-width: 100%;
          }
          ul {
            max-width: 40rem;
            li {
              br {
                display: none;
              }
            }
          }
        }
        .darker-area {
          display: none;
        }
      }
      
    }
  }
}

.s-howTo {  
  padding-top: 6.4rem;
  padding-bottom: 5rem;
  .container {
    display: flex;
    .left-area {
      margin-right: 8.8rem;
      display: flex;
      .text {
        margin-right: 6.1rem;
        h3 {
          font-weight: 800;
          font-size: 4.8rem;
          line-height: 6.5rem;
          letter-spacing: -0.02em;
          color: $primary-dark;          
        }
        span {
          font-weight: 600;
          font-size: 1.8rem;
          line-height: 2.5rem;
          letter-spacing: -0.02em;
          color: $neutral-100;          
        }
        p {
          max-width: 8.7rem;
          font-size: 1.4rem;
          line-height: 1.9rem;
          letter-spacing: -0.02em;
          color: $neutral-200;          
        }
      }
    }
    .como-aproveitar {
      display: flex;
      align-items: center;
      width: 100%;
      flex: 1;
      border-bottom: 1px solid red;
      padding-bottom: 8.1rem;
      h4 {
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 2.5rem;
        text-align: center;
        letter-spacing: -0.02em;
        color: $neutral-200;        
        margin-right: 10.9rem;        
      }
      ul {        
        display: flex;
        li {
          display: flex;
          align-items: center;
          max-width: 20rem;
          justify-content: center;
          &:not(:last-child) {
            margin-right: 4rem;
          }          
          .item {
            display: flex;
            flex-direction: column;
            margin-right: 5rem;
                      
            img {
              max-width: 4.8rem;
              max-height: 4.8rem;
              margin: 0 auto 1.8rem auto;              
              display: flex;
              justify-content: center;
                    
            }
            span {
              font-weight: 400;
              font-size: 1.6rem;
              line-height: 2.2rem;
              text-align: center;
              letter-spacing: -0.02em;
              color: #495057;              
            }
            
          }
          .img-maior {
            height: 1.6rem;
          }
        }
      }
    }
  }
  @include responsive (1200px) {
    padding-top: 10rem;
  }
  @include responsive (800px) {
    padding-top: 3rem;
    .container {
      flex-direction: column;
      .left-area {
        justify-content: center;
        flex-direction: column;
        margin-right: 0;
        margin-bottom: 5rem;
        .marcador {
          display: none;
        }
        .text {
          margin: 0 auto;
        }
      }
      .como-aproveitar {
        ul {
          li {
            &:not(:last-child) {
              margin-right: 2rem;
            }
            .item {
              margin-right: 4rem;
            }
          }
        }
      }
    }
  }
  @include responsive (600px) {
    .container {
      .left-area {
        .text {
          text-align: center;
          h2 {
            font-size: 5.5rem;
            
          }
          span {
            font-size: 2.5rem;
            
          }
          p {
            margin-top: 1rem;
            max-width: unset;
            font-size: 2rem;
          }
        }
      }
      .como-aproveitar {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        h4 {
          margin-right: 0;
          margin-bottom: 4rem;
        }
        ul {
          flex-direction: column;
          margin: 0 auto;
          li {
            width: 100%;
            &:not(:last-child) {
              margin-right: 0;
            }
            .item {
              margin-right: 0;
              display: flex;
              justify-content: center;
              align-items: center;
            }
            &:not(:last-child) {
              margin-bottom: 2rem;
            }
            img {
              display: none;            
            }
          }
        }
      }
    }
  }
}